<a href="#" class="btn"> <i class="tim-icons icon-refresh-02"></i><strong>Relancer </strong></a>
<a href="#" class="btn"> <i class="tim-icons icon-cloud-upload-94"></i><strong>Exporter</strong></a>
<a href="#" class="btn btn-danger"> <strong>Non valider</strong></a>
<a href="#" class="btn btn-success"> <strong>valider</strong></a>

<div class="row">
<div class="col-md-12">
  <div class="card ">
    <div class="card-header">
      <h4 class="card-title"> List user activity</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive ps">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
                <th class="text-center">

                  </th>
              <th class="text-center">
              Name
            </th>
            <th class="text-center">
             Travailler
            </th>
            <th class="text-center">
              Congé
            </th>
            <th class="text-center">
              Total
            </th>
            <th class="text-center">
                Action
              </th>
          </tr></thead>
          <tbody>
            <tr>
               <td class="text-center">
                  <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked="">
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
              </td>
               <td class="text-center">

                Dakota Rice
              </td>
               <td class="text-center">
               20
              </td>
               <td class="text-center">
               0
              </td>
              <td class="text-center">
                    <button type="button" class="btn btn-success" style="padding: 5px 40px;">20</button>
              </td>
              <td class="text-center">
                  <ul class="list-inline">
                      <li class="list-inline-item"><i class="tim-icons icon-cloud-upload-94"></i></li>
                      <li class="list-inline-item"> <i class="tim-icons tim-icons icon-badge"></i></li>
                      <li class="list-inline-item"><i class="tim-icons icon-pencil"></i></li>
                    </ul>
            </td>
            </tr>
            <tr>
                 <td class="text-center">
                    <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                      </td>

                 <td class="text-center">

                    Dakota Rice
                  </td>
                   <td class="text-center">
                   20
                  </td>
                  <td class="text-center">
                   0
                  </td>
                  <td class="text-center">
                      <button type="button" class="btn btn-danger" style="padding: 5px 40px;">20</button>
                  </td>
                  <td class="text-center">
                      <ul class="list-inline">
                          <li class="list-inline-item"><i class="tim-icons icon-cloud-upload-94"></i></li>
                          <li class="list-inline-item"> <i class="tim-icons tim-icons icon-badge"></i></li>
                          <li class="list-inline-item"><i class="tim-icons icon-pencil"></i></li>
                        </ul>
                </td>
            </tr>
            <tr>
                 <td class="text-center">
                    <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                      </td>

                 <td class="text-center">

                    Dakota Rice
                  </td>
                   <td class="text-center">
                   20
                  </td>
                  <td class="text-center">
                   0
                  </td>
                  <td class="text-center">
                        <button type="button" class="btn btn-danger" style="padding: 5px 40px;">20</button>
                  </td>
                  <td class="text-center">
                      <ul class="list-inline">
                          <li class="list-inline-item"><i class="tim-icons icon-cloud-upload-94"></i></li>
                          <li class="list-inline-item"> <i class="tim-icons tim-icons icon-badge"></i></li>
                          <li class="list-inline-item"><i class="tim-icons icon-pencil"></i></li>
                        </ul>
                </td>
            </tr>
          </tbody>
        </table>
      <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
    </div>
  </div>
</div>
</div>
