

<div class="row">
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
        <form class="form-inline">
                <div class="col-md-3 pr-md-1">
                  <div class="form-group" >
                      <input class="form-control" name="titre" [(ngModel)]="activity.titre">
                    </div>
                </div>
                <div class="col-md-3 px-md-1">
                    <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" placeholder="date debut"
                                name="dateDebut" [(ngModel)]="activity.dateDebut" ngbDatepicker  #dateDebut="ngbDatepicker"  (ngModelChange)="somethingChanged($event)" >
                          <div class="input-group-append">
                            <button class="btn btn-primary" (click)="dateDebut.toggle()" type="button" style="margin: 0px;padding: 0px 20px;">
                              <i class="tim-icons icon-calendar-60"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-3 pl-md-1">
                    <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" placeholder="date fin"
                                name="dateFin" [(ngModel)]="activity.dateFin" ngbDatepicker #dateFin="ngbDatepicker" [minDate]="minDate">
                          <div class="input-group-append">
                            <button class="btn  btn-primary" (click)="dateFin.toggle()" type="button" style="margin: 0px;padding: 0px 20px;">
                              <i class="tim-icons icon-calendar-60"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-3 pl-md-1">
                    <button type="submit" class="btn btn-fill btn-primary" (click)="selectToday()">Save</button>
              </div>

</form>

</div>
</div>
</div>
</div>


<div class="row">
    <div class="col-xs-4 col-md-3 text-center">
        <div class="btn-group">
            <button class="btn btn-primary"(click)="previousMonth()">
                <i class="tim-icons icon-minimal-left"></i>
            </button>
        </div>
    </div>
    <div class="col-xs-4 col-md-6 text-center">
        <h2 style="  margin-top: 0px">{{ monthYears }}</h2>
    </div>
    <div class="col-xs-4 col-md-3 text-center">
        <div class="btn-group">
            <button class="btn btn-primary" (click)="nextMonth()">
                <i class="tim-icons icon-minimal-right"></i>
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="noactivitie"  *ngFor="let day of monthDay.dayTitre">{{day}}</th>
            </tr>
            </thead>
            <tbody>

                <tr *ngFor="let days of calendarMonth;">

                    <td  *ngFor="let day of days;" class={{day.classCss}} >{{day.day}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
