<div class="sidebar">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a routerLink="./profil" class="simple-text logo-normal">
                Ben Ouezdou Ahmed
              </a>
      </div>
      <ul class="nav">
        <li routerLinkActive="active">
          <a  routerLink="./home" >
            <i class="tim-icons icon-chart-pie-36"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="./myactivite" >
              <i class="tim-icons icon-single-02"></i>
              <p>My activity</p>
            </a>
          </li>
        <li routerLinkActive="active">
          <a routerLink="./profil" >
            <i class="tim-icons icon-single-02"></i>
            <p>My profile</p>
          </a>
        </li>

        <li routerLinkActive="active">
            <a routerLink="./validActivity" >
              <i class="tim-icons icon-single-02"></i>
              <p>Valid activity</p>
            </a>
          </li>
      </ul>
    </div>
  </div>
