<div class="sidebar">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a routerLink="./profil" class="simple-text logo-normal">
              {{ user.nom }}   {{ user.prenom }}</a>
      </div>
      <ul class="nav">
        <li routerLinkActive="active">
          <a  routerLink="./home" >
            <i class="tim-icons icon-chart-pie-36"></i>
            <p>Dashboard</p>
          </a>
        </li> 
        <li routerLinkActive="active">
            <a routerLink="./myactivite" >
              <i class="tim-icons icon-settings-gear-63"></i>
              <p>My activity</p>
            </a>
          </li>
        <li routerLinkActive="active">
          <a routerLink="./profil" >
            <i class="tim-icons icon-single-02"></i>
            <p>My profile</p>
          </a>
        </li>

        <li routerLinkActive="active">
            <a routerLink="./validActivity" >
              <i class="tim-icons icon-settings"></i>
              <p>Valid activity</p>
            </a>
          </li>
          
          <li routerLinkActive="active">
              <a routerLink="./user-management" >
                <i class="tim-icons icon-badge"></i>
                <p>UserManagement</p>
              </a>
            </li>
      </ul>
    </div>
  </div>
